.article-nav {
  display: flex;
  flex-direction: row;
}
.article-toolbar {
  justify-content: space-between;
  padding: 5px 10px;
}
.article-content {
  display: flex;
  flex-direction: column;
}
.content {
  height: 100%;
}
.article-submit {
  flex-direction: column;
  align-items: flex-end !important;
}
.article-elements {
  margin: 10px 0 !important;
}

.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.error {
  border: 1px solid red;

  display: block;
}
.hideText {
  display: none;
}
.showText {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;

  margin: 3px 14px 0;
  /* margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px; */
  color: #d32f2f;
  display: flex;
}
