.main-container {
  margin: 10px 0;
  padding: 0 10px;
  display: flex;

  gap: 10px;
  min-height: 500px;
}
.main-articles {
  text-decoration: none;
}
.footer-container {
  padding: 10px 10px;
  background-color: rgb(4, 68, 153);
}
